:root {
    /* Primary Colors */
    --color-blue-500: hsl(208, 92%, 53%);
    --color-green-500: hsl(163, 72%, 41%);
    --color-red-500: hsl(356, 69%, 56%);
    
    /* Social Media Colors */
    --color-facebook-blue: hsl(208, 92%, 53%);
    --color-twitter-blue: hsl(203, 89%, 53%);
    --color-instagram-gradient-start: hsl(37, 97%, 70%);
    --color-instagram-gradient-middle: hsl(5, 77%, 71%);
    --color-instagram-gradient-end: hsl(329, 70%, 58%);
    --color-youtube-red: hsl(348, 97%, 39%);
    
    /* Toggle Colors */
    --color-toggle-gradient-start-dark: hsl(210, 79%, 56%);
    --color-toggle-gradient-end-dark: hsl(146, 68%, 55%);
    --color-toggle-gray-light: hsl(230, 22%, 74%);
    
    /* Neutral Colors - Dark Theme */
    --color-bg-dark: hsl(230, 17%, 14%);
    --color-top-bg-pattern-dark: hsl(232, 19%, 15%);
    --color-card-bg-dark: hsl(228, 28%, 20%);
    --color-text-dark-gray: hsl(230, 22%, 74%);
    --color-text-dark-white: hsl(0, 100%, 100%);
    
    /* Neutral Colors - Light Theme */
    --color-bg-light: hsl(0, 100%, 100%);
    --color-top-bg-pattern-light: hsl(225, 100%, 98%);
    --color-card-bg-light: hsl(227, 47%, 96%);
    --color-text-light-gray: hsl(228, 12%, 44%);
    --color-text-light-dark: hsl(230, 17%, 14%);
}

