@function rem($pixels, $base-font-size: 16) {
  @return #{$pixels / $base-font-size}rem;
}

// Notes: use 16 as base font size for conversion from px to rem
// Example usage:
// .example-class {
//     font-size: rem(24); // converts 24px to rem
// }

// why 16? because 16px is the default font size in most browsers